.mat-spinner-color::ng-deep circle {
  stroke: #6f4efb !important;
}

#loading {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -4em;
}

#main {
  display: none;
}

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

/* Change check box position */
.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  left: -1.25em;
  bottom: 0.5em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star {
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}

.up {
  color: green;
}

.down {
  color: red;
}

.nothing {
  color: black;
}
