.mat-tab-group {
  margin-bottom: 48px;
}
::ng-deep .mat-tab-labels {
  justify-content: center;
}

::ng-deep .mat-ink-bar {
  background-color: #6f4efb !important;
}

.modal-backdrop {
  z-index: 1500;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 50%;
}
