* {
  margin: 0;
  padding: 0;
}
body {
  width: 1500px;
}

.top {
  margin-left: 120px;
  margin-bottom: 0;
  width: 1202px;
  height: 200px;
  background-color: white;
}

.BON {
  padding-top: 20px;
  font-family: "Rozha One", serif;
  font-size: 50px;
  margin-bottom: 35px;
}

ul {
  padding-inline-start: 0px;
}

.navbar li {
  padding: 0;
  margin-right: 18px;
  float: left;
  font-family: sans-serif;
  font-size: 18px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.mid {
  height: 750px;
  overflow: hidden;
  display: block;
  margin-left: 210px;
}
.mid h1 {
  color: #1212bb;
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 65px;
  height: 200px;
  font-family: "Rozha One", serif;
}

.mid button {
  background-color: white;
  font-family: sans-serif;
  font-size: 21px;
  height: 65px;
  width: 150px;
  display: table-cell;
}

.cut {
  margin-left: 120px;
  position: fixed;
  z-index: -1;
}

.bottom {
  display: grid;
  justify-items: center;
  background-color: white;
}

.intro {
  color: #0000ff;
  font-family: "Rozha One", serif;
  font-weight: 600;
  margin: 50px;
  font-size: 35px;
}

.roomTitle {
  color: #0000ff;
  margin-top: 60px;
  font-family: "Rozha One", serif;
  font-size: 25px;
}

.styles-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
}

.style-container {
  display: grid;
  justify-items: center;
}

.style-container img {
  width: 581px;
  height: 495px;
  border-right: 18px solid;
  border-color: rgb(157, 219, 224);
}
