body {
    margin: 0   ; 
    padding: 0;
}
.BON {
    margin-left: 4vh;
}

.navbar li {
    margin: 5px;
    padding: 0;
    width: 80px;
    float: left;
    font-size: 12px;
    list-style-type : none;
}

a {
    text-decoration: none;
}

.top {
/* TODO:  */
    height: 800px;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.top img {
    position: absolute;
    z-index: -1;
}

.bottom {
    display: grid;
    justify-items: center;
}
.styles-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 50px;
}

.style-container {
    display: grid;
    justify-items: center;
}

.style-container img {
    width: 500px;
    height: 400px;
}