<div id="{{singleData.ticker}}watch">
    <div class="card">
        <button class="close pull-right ml-auto" (click)="deleteCard()">&times;</button>
        <div class="card-body">
            <div class="row">
                <h1 class="col">{{singleData.ticker}}</h1>
                <div class="col text-right"
                    [ngClass]="{'up': status == 1, 'down': status == -1, 'nothing': status == 0}">
                    {{singleData.last}}
                </div>
            </div>
            <div class="row">
                <div class="col">{{tickerName}}</div>
                <div class="col text-right"
                    [ngClass]="{'up': status == 1, 'down': status == -1, 'nothing': status == 0}">
                    <div *ngIf="status == -1" style="display: inline;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </div>
                    <div *ngIf="status == 1" style="display: inline;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-up-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg>
                    </div>
                    {{singleData.change}} ({{singleData.changePer}})
                </div>
            </div>
        </div>
    </div>
</div>